<template name="layout_base">
    <!-- Header -->
    <header class="navbar navbar-default navbar-fixed-top bs-docs-nav" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {{> layout_base_navBrand }}
            </div>
            <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                {{> layout_base_navItems }}
                {{> layout_base_loginButtons }}
            </nav>
        </div>
    </header>
    <!-- Body -->
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {{> yield }}
            </div>
            <!-- Sidebar -->
            <div class="col-md-4">
                {{> layout_base_sidebar }}
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer>
        <div class="container">
            <hr />
            <p class="text-center">Copyright &copy; myBlog 2015. All rights reserved.</p>
        </div>
    </footer>
</template>