<template name="layout_base_navItems">
    <ul class="nav navbar-nav">
        {{navLink "home" "Home"}}
        {{navLink "new"  "New post"}}
        {{navLink "my"   "My posts"}}
    </ul>
</template>