<template name="posts_list_item">

    <article>

        <h2><a class="text-primary" href="#">{{ title }}</a></h2>

        <div class="row">
            <div class="col-sm-6 col-md-6">
                <span class="glyphicon glyphicon-user"></span>
                &nbsp;
                <a class="text-info" href="#category">{{ author }}</a>
            </div>
            <div class="col-sm-6 col-md-6 text-right">
                <span class="glyphicon glyphicon-pencil"></span>
                <a class="text-info" href="#comments">N Comments</a>
                &nbsp;&nbsp;
                <span class="glyphicon glyphicon-time"></span>
                {{ formatDate publishAt }}
            </div>
        </div>

        <hr>

        <blockquote>
            <p class="lead">{{ short_body }}</p>
        </blockquote>

        <div class="row">
            <div class="col-sm-12 col-md-12">
                <span class="glyphicon glyphicon-folder-open"></span>
                &nbsp;
                <a class="text-info" href="#category">Category</a>
                &nbsp;&nbsp;
                <span class="glyphicon glyphicon-tag"></span>
                <a class="text-info" href="#tag">Tag</a>,
                <a class="text-info" href="#tag">Tag</a>,
                <a class="text-info" href="#tag">Tag</a>
            </div>
        </div>

        <br/>

        <p>{{ full_body }}</p>

        <div class="row">
            <div class="col-sm-12 col-md-12 text-right">
                <a class="text-primary" href="#">continue reading...</a>
            </div>
        </div>

    </article>

    <hr>

</template>