<template name="post_item_new">
	<form class="form-horizontal" id="formNewPost" name="formNewPost">
  		<div class="form-group">
    		<label for="inpTitle" class="col-xs-1 control-label text-nowrap">Title</label>
    		<div class="col-xs-11">
      			<input type="text" class="form-control" id="inpTitle" name="inpTitle">
    		</div>
  		</div>
        <div class="form-group">
            <label for="inpShortBody" class="col-xs-1 control-label text-nowrap">List Body</label>
            <div class="col-xs-11">
                <textarea class="form-control" rows="4" id="inpShortBody" name="inpShortBody"></textarea>
            </div>
        </div>
  		<div class="form-group">
    		<label for="inpFullBody" class="col-xs-1 control-label text-nowrap">Full Body</label>
    		<div class="col-xs-11">
    			<textarea class="form-control" rows="10" id="inpFullBody" name="inpFullBody"></textarea>
    		</div>
  		</div>
		<div class="form-group">
			<label class="col-xs-1 control-label text-nowrap">Author</label>
			<div class="col-xs-11">
      			<p class="form-control-static" id="lblAuthor"></p>
			</div>
		</div>
		<div class="form-group">
			<label for="dtpPublishAt" class="col-xs-1 control-label text-nowrap">Publish at</label>
			<div class="col-xs-3">
				<div class="input-group date" id="dtpPublishAt" name="dtpPublishAt">
					<input type='text' class="form-control" id="inpPublishAt" name="inpPublishAt" />
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-calendar"></span>
					</span>
				</div>
			</div>
            <button type="button" class="btn btn-primary submit" id="btnSave" name="btnSave">Save</button>
		</div>	
	</form>
</template>