<template name="page_not_found">
    <div class="jumbotron text-center">
        <h2>Page not found.</h2>
        <p>Go back to our {{#linkTo route='home'}}home{{/linkTo}} page.</p>
    </div>
</template>