<template name="sidebar_widget_categories">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="text-primary"><span class="glyphicon glyphicon-folder-open"></span> &nbsp;Categories</h4>
        </div>
        <ul class="list-group">
            <li class="list-group-item"><a class="text-info" href="#">Signs</a></li>
            <li class="list-group-item"><a class="text-info" href="#">Elements</a></li>
            <li class="list-group-item"><a class="text-info" href="#">Planets</a></li>
            <li class="list-group-item"><a class="text-info" href="#">Cusps</a></li>
            <li class="list-group-item"><a class="text-info" href="#">Compatibility</a></li>
        </ul>
    </div>

</template>