<template name="sidebar_widget_latest_posts">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="text-primary"><span class="glyphicon glyphicon-bell"></span> &nbsp;Latest Posts</h4>
        </div>
        <ul class="list-group">
            <li class="list-group-item"><a class="text-info" href="singlepost.html">1. Aries Sun Sign March 21 - April 19</a></li>
            <li class="list-group-item"><a class="text-info" href="singlepost.html">2. Taurus Sun Sign April 20 - May 20</a></li>
            <li class="list-group-item"><a class="text-info" href="singlepost.html">3. Gemini Sun Sign May 21 - June 21</a></li>
            <li class="list-group-item"><a class="text-info" href="singlepost.html">4. Cancer Sun Sign June 22 - July 22</a></li>
            <li class="list-group-item"><a class="text-info" href="singlepost.html">5. Leo Sun Sign July 23 - August 22 </a></li>
        </ul>
    </div>

</template>