<template name="sidebar_widget_recent_comments">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="text-primary"><span class="glyphicon glyphicon-comment"></span> &nbsp;Recent Comments</h4>
        </div>
        <ul class="list-group">
            <li class="list-group-item"><a class="text-info" href="#">I don't believe in astrology but still your writing style is really great! - <em>john</em></a></li>
            <li class="list-group-item"><a class="text-info" href="#">Wow.. what you said is really true! I'm an aries though - <em>Anto</em></a></li>
            <li class="list-group-item"><a class="text-info" href="#">Does capricorn and aries is compatibile? - <em>Sarah</em></a></li>
            <li class="list-group-item"><a class="text-info" href="#">I'm a cancer woman been in love with Leo. Will this work? - <em>Mary</em></a></li>
        </ul>
    </div>

</template>