<template name="sidebar_widget_subscribe_button">

    <div class="well text-center">
        <p class="lead">
            Don't want to miss updates? Please click the below button!
        </p>
        <button class="btn btn-primary btn-lg">Subscribe</button>
    </div>

</template>