<template name="sidebar_widget_tags">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="text-primary"><span class="glyphicon glyphicon-tags"></span> &nbsp;Tags</h4>
        </div>
        <div class="panel-body">
            <ul class="list-inline">
                <li><a class="text-info" href="#">Aries</a></li>
                <li><a class="text-info" href="#">Fire</a></li>
                <li><a class="text-info" href="#">Mars</a></li>
                <li><a class="text-info" href="#">Taurus</a></li>
                <li><a class="text-info" href="#">Earth</a></li>
                <li><a class="text-info" href="#">Moon</a></li>
                <li><a class="text-info" href="#">Gemini</a></li>
                <li><a class="text-info" href="#">Air</a></li>
                <li><a class="text-info" href="#">Mercury</a></li>
                <li><a class="text-info" href="#">Cancer</a></li>
            </ul>
        </div>
    </div>

</template>